#query_web
#2019-01-15
greenify==0.3.2
threathunter-common==1.1.1
babel-python==1.1.1
pudb==2016.2
complexconfig==1.1.1
Flask==1.0.2
uwsgi==2.0.17.1
Flask-Caching==1.6.0
sqlalchemy==1.2.15
Flask_SQLAlchemy==2.3.2
simplejson==3.16.0
MySQL-python==1.2.5
pytest==4.0.2
pytest-cov==2.6.0
pylint==1.9.4
flask-cors==3.0.7
APScheduler==3.5.3
Flask-APScheduler==1.11.0
